@charset "UTF-8";

html, body{
   margin: 0;
   padding: 0;
   font-family: helvetica;
   background-color: #EFEFEF;
}


#div-header {
	
	
	
	
  width: 98,5%;
  height: 150px;
  background-color:#112B3C;
  margin-top: 0px;
  padding:15px;
  display: flex;
  
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
	
}


#div-flutuante {
	
	height:100%;
	width:100%;
	
	margin:auto;
	display: inline;
	itens-align: center;
	

	
	
	
}

#col-1, #col-2, #col-3, #col-4 {
	
	
	margin-right: 10px;
	margin-top: 50px;
	margin-left: 50px;
	
	height:30%;
	width:20%;

	float: left;
	
	display: flex;
  justify-content: center;
  align-items: center;
   text-align: center;
   justify-items: center;
	
	
} 

 a {
	text-decoration: none;
	font-size: 20px;
	color:#EFEFEF;
}

 a:hover {
	text-decoration: none;
	font-size: 20px;
	color: #F66B0E;
}

#div-form {

	margin-top: 50px;
	width:400px;
	height:400px;

	align-items: center;
	padding: 5px;
	
}

.row {
	
	margin-top: 20px;
	margin-bottom: 10px;
	display:block;
	align-items: center;
	
	justify-content: center;
	
	
	
	
	
	
}

.input {
	border: none;
	border-bottom: 1px solid;
	border-bottom-color:#112B3C;
	background-color: transparent;
	color:#112B3C;
	width: 99%;
	height: 30px;
	
	margin-top:5px;
	
	outline: 0;
}


label {
	
	font-size: 16px;
	color:#112B3C;
	font-family: sans-serif;
	margin-bottom: 5px;
}

.botoes {
	display: flex;
	margin-top: 50px;
	
}

.botao {
	margin-right: 20px;
	width: 100px;
	height: 35px;
	
	background-color:  #F66B0E;
	border-color: rgb(44, 77, 79);
	color: #EFEFEF;
	border: 0px;
	border-radius: 5px;

}

.botaoh:hover {
	margin-right: 20px;
	width: 100px;
	height: 35px;
	
	background-color:  #EFEFEF;
	
	color:  #F66B0E;
	
	border-color:  #F66B0E;
	border-radius: 5px;
	border: solid;

}



select {
	width: 100%;
	height: 30px;
	
	background-color: #112B3C;
	color:  white;
	
	border: none;
	border-radius: 5px;
	
	text-align: center;
	font-size: 16px;
}

#outra-div {
	height: 500px;
	width: 500px;
	
	margin-left:auto;
	margin-top: 50px;
	
}

.container{
	display:flex;
	padding-left: 200px;
	padding-right: 200px;
}

h2 {
	
	color: #205375;
	margin-bottom: 20px;
	
}


table {
	width: 100%;
	font-size: 20px;
	border-radius: 5px;
	border:none;
	background-color:  #bab8b8;

}

table th {
	
	background-color:#112B3C;
	color:  #EFEFEF;

	margin: 0px;
	padding: 0px;
}

table td {
	
	color: black;
	text-align: center;
	justify-content: center;
	align-items: center;
	
	
	
	
	
}

/*
table, tr, td{
 border:none ! important;
}
*/

tbody > td{
	margin:0px;
	color:black;
}

tbody > tr:nth-child(2n){
	background-color: #d7d7d7;
}


table tr:hover {
	border: solid 2px;
	border-color: white;
	background-color: white;
}

table col {
	
	border: 0px ! important;
}

.btn{
	
	width: 30px;
	height: 30px;
}

.meu-carrousel{
	margin-top:2vh;
	width: 100%;
	height: 70vh;
	background-color: blue;
}

.product-item .product-item-content {
        border: 1px solid var(--surface-d);
        border-radius: 3px;
        margin: .3rem;
        text-align: center;
        padding: 2rem 0;
    }

    .product-item .product-image {
        width: 50%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }

